[submodule "refs/skills"]
	path = refs/skills
	url = https://github.com/grafana/skills
[submodule "refs/ip-location-db"]
	path = refs/ip-location-db
	url = https://github.com/sapics/ip-location-db.git
